/*header*/
img{
    height: 50px;
    width: 50px;
}
a{
    color: white;
}
header{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    justify-content: space-between;
}
/*footer*/
footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*main*/
main{
    display: flex;
    justify-content: center;
    background-image: url(assets/img/drozd.jpg);
   height: 600px;
   
}


/*play*/
button {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-image: url("assets/svg/play.svg");
    background-size: contain;
    
 
  }
  
  .pause {  
    background-image: url("assets/svg/pause.svg");
  }
